* {
  font: inherit;
  user-select: none;
  -webkit-user-select: none;
}

body {
  font-family: monospace;
  font-size: 12px;
}

p {
  margin: 0 0 10px 0;
}

.hero {
  z-index: 1;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
}
